a.jlsgbujiang {
    cursor: pointer;
    text-decoration: underline;
}
.jlsgbujiang {
    --trans: 0.75;
}
.menubg.jlsgbujiang.main {
    inset: 5%;
    animation: dialog_start2 0.3s;
    display: flex;
}
.pageslist.jlsgbujiang {
    width: 64px;
    height: 100%;
    position: relative;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    margin-right: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pageslist.jlsgbujiang > * {
    transition: none;
    position: relative;
    cursor: pointer;
    padding: 12px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.pageslist.jlsgbujiang > *:hover {
    background-color: rgba(32,33,36,.04);
}
.menubg.jlsgbujiang.main > .page-content {
    flex: 1;
    position: relative;
}
.loadtext.jlsgbujiang {
    font-family: 'huangcao','xinwei';
    font-size: xxx-large;
    text-align: center;
    vertical-align: middle;
    text-align: center;
    display: flex;
    justify-content: center;
    /* align horizontal */
    align-items: center;
    height: 100%;
    width: 100%;
}
.orblist.jlsgbujiang {
    padding: 0 3px;
    inset: 0;
    overflow: scroll;
    mask-image: linear-gradient(rgba(0,0,0,1) 95%, rgba(0,0,0,0));
    -webkit-mask-image: linear-gradient(rgba(0,0,0,1) 95%, rgba(0,0,0,0));
}
.reddot.jlsgbujiang {
    background: rgba(255, 0, 0, 0.8);
    border-radius: 100%;
    box-shadow: rgb(0 0 0 / 20%) 1px -1px 2px inset, rgb(255 255 255 / 15%) -1px 1px 5px inset, rgba(0, 0, 0, 0.5) -1px 1px 2px;
}
.orbdesc.jlsgbujiang > .reddot {
    top: -3px; 
    right: -5px; 
    padding: 6px;
    transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
}
.orbdesc.jlsgbujiang {
    --width: 148px;
    width: calc(var(--trans) * var(--width));
    height: calc(var(--trans) * var(--width) / 2);
    position: relative;
    margin: calc(var(--trans) * 7px);
}
.orbdesc.jlsgbujiang > .orb {
    inset: calc(var(--trans) * 3px);
}
.orbdesc.jlsgbujiang.inuse > .orb {
    opacity: 0.3;
    filter: blur(3px) grayscale(0.6);
}
.orb.jlsgbujiang > * {
    position: absolute;
    /* inset: calc(var(--trans) * 3px); */
    /* height: calc(var(--trans) * 68px); */
    height: 100%;
}
.orb.jlsgbujiang.focused {
    filter: drop-shadow(2px 4px 6px red);
}
.desctextbox.jlsgbujiang {
    flex-direction: column;
    display: inline-flex;
    left: calc(var(--trans) * var(--width) / 2);
    width: calc(var(--trans) * var(--width) / 2);
    height: calc(var(--trans) * var(--width) / 2);
    align-items: center;
    justify-content: space-around;
    /* height: 100%; */
}
.desctextbox.jlsgbujiang > .line {
    width: 75%;
    height: 1.5px;
    background: linear-gradient(to right,rgba(0,0,0,0), black, rgba(0,0,0,0));
}
.desctextbox.jlsgbujiang > span {
    font-family: 'STXinwei','xinwei';
    font-size: calc(var(--trans) * 20px);
}
.suitdesc.jlsgbujiang {
    position: relative;
    display: block;
    line-height: 1.5;
}
.suitdesc.jlsgbujiang > .hp {
    position: static;
}
.suitdesc.jlsgbujiang .types > img.invalid {
    display: none;
}
.suitdesc.jlsgbujiang .types > img {
    position: relative;
    top: -0.2em;
    height: 2em;
    filter: brightness(1.5) grayscale(1);
}
.suitdesc.jlsgbujiang .skills > * {
    transition: all 0.5s;
    margin: 0, 1em;
    position: relative;
}
.suitdesc.jlsgbujiang .skills > *.invalid {
    /* width: 0; */
    margin: 0;
    opacity: 0;
}
.suitdisk.jlsgbujiang, .suitdisk.jlsgbujiang * {
    --trans: 0.5;
}
.suitdisk.jlsgbujiang {
    position: relative;
    height: calc(var(--trans) * 331px);
    width: calc(var(--trans) * 385px);
    background-image: url('./bujiang/img_di_zhupan.png');
    background-size: cover;
    --dx: 116px;
    --dy: 116px;
    --x0: 43px;
    --y0: 15px;
    --x1: calc(var(--x0) + var(--dx));
    --y1: calc(var(--y0) + var(--dy));
    --x2: calc(var(--x1) + var(--dx));
    --y2: calc(var(--y1) + var(--dy));
}
.suitdisk.jlsgbujiang > .orb {
    height: calc(var(--trans) * 68px);
    width: calc(var(--trans) * 68px);
}
.suitdisk.jlsgbujiang > .orb:nth-child(1) {
    position: absolute;
    top:  calc(var(--trans) * var(--y0));
    left: calc(var(--trans) * var(--x0));
}
.suitdisk.jlsgbujiang > .orb:nth-child(2) {
    position: absolute;
    top:  calc(var(--trans) * var(--y0));
    left: calc(var(--trans) * var(--x1));
}
.suitdisk.jlsgbujiang > .orb:nth-child(3) {
    position: absolute;
    top:  calc(var(--trans) * var(--y0));
    left: calc(var(--trans) * var(--x2));
}
.suitdisk.jlsgbujiang > .orb:nth-child(4) {
    position: absolute;
    top:  calc(var(--trans) * var(--y1));
    left: calc(var(--trans) * var(--x0));
}
.suitdisk.jlsgbujiang > .orb:nth-child(5) {
    position: absolute;
    top:  calc(var(--trans) * var(--y1));
    left: calc(var(--trans) * var(--x1));
}
.suitdisk.jlsgbujiang > .orb:nth-child(6) {
    position: absolute;
    top:  calc(var(--trans) * var(--y1));
    left: calc(var(--trans) * var(--x2));
}
.suitdisk.jlsgbujiang > .orb:nth-child(7) {
    position: absolute;
    top:  calc(var(--trans) * var(--y2));
    left: calc(var(--trans) * var(--x0));
}
.suitdisk.jlsgbujiang > .orb:nth-child(8) {
    position: absolute;
    top:  calc(var(--trans) * var(--y2));
    left: calc(var(--trans) * var(--x1));
}
.suitdisk.jlsgbujiang > .orb:nth-child(9) {
    position: absolute;
    top:  calc(var(--trans) * var(--y2));
    left: calc(var(--trans) * var(--x2));
}
