a.jlsgbujiang {
    cursor: pointer;
    text-decoration: underline;
}
.jlsgbujiang {
    --trans: 0.75;
}
.menubg.jlsgbujiang.main {
    /* inset: 5%; not supported on obsolete browser */
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 5%;
    animation: dialog_start2 0.3s;
    display: flex;
}
.pageslist.jlsgbujiang {
    width: 64px;
    /* height: 100%; */
    position: relative;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    margin-right: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pageslist.jlsgbujiang > * {
    transition: none;
    position: relative;
    cursor: pointer;
    padding: 12px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.pageslist.jlsgbujiang > *[active] {
    box-shadow: inset -2px 0px #32a852;
}
.pageslist.jlsgbujiang > *:hover {
    background-color: rgba(32,33,36,.04);
}
.menubg.jlsgbujiang.main > .page-content {
    flex: 1;
    position: relative;
    display: flex;
}
.menubg.jlsgbujiang.main > .page-content > * {
    flex: 1 0;
    position: relative;
}
.loadtext.jlsgbujiang {
    font-family: 'huangcao','xinwei';
    font-size: xxx-large;
    text-align: center;
    vertical-align: middle;
    text-align: center;
    display: flex;
    justify-content: center;
    /* align horizontal */
    align-items: center;
    height: 100%;
    width: 100%;
}
.jlsgbujiang.orb-list-wrapper {
    display: flex;
    flex-direction: column;
}
.jlsgbujiang.orb-list-wrapper > * {
    position: relative;
}
.jlsgbujiang.orb-list-bar {
    z-index: 1;
    display: flex;
    flex-direction: row-reverse;
    margin-left: -4px;
    box-shadow: 1px 1px 2px 0 rgb(60 64 67 / 30%), 2px 2px 6px 2px rgb(60 64 67 / 15%);
    /* height: 32px; */

}
.jlsgbujiang.orb-list-bar > .tdnode:hover::after {
    /* background-color: rgba(0,0,0,.4); */
    box-shadow: rgb(0 0 0 / 15%) 0 0 0 2px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.jlsgbujiang.filter-panel {
    /* inset: 6%; */
    top: 6%;
    right: 6%;
    bottom: 6%;
    left: 6%;
    padding: 10px;
    background: rgba(0,0,0,0.5);
    box-shadow: 0 0px 2px 1px rgb(30 32 34 / 30%), 0 0px 6px 2px rgb(30 32 34 / 15%);
    border-radius: 8px;
    z-index: 4;
    animation: dialog_start2 0.3s;
    height: unset;
    width: unset;
    /* display: flex; */
}
.jlsgbujiang.filter-panel > * {
    position: relative;
    padding: 6px;
    margin: 6px;
    font-size: 26px;
    font-family: 'STXinwei','xinwei';
}
.jlsgbujiang.filter-panel > .skill-name-filter {
    cursor: text;
    padding: 1em 8px 0.2em 8px;
    padding-top: 1em;
    padding-bottom: 0.3em;
    min-width: 15em;
}
.jlsgbujiang.filter-panel > .skill-name-filter:hover::after {
    content: '';
    position: absolute;
    width: 100%; 
    height: 100%;
    top:0; 
    left:0;
    background:rgba(30,32,34,0.04);
}
.jlsgbujiang.filter-panel > .skill-name-filter > input {
    color: inherit;
    background: none;
    outline: none;
    border: none;
    display: block;
    font-size: 18px;
    width: 100%;
}
.jlsgbujiang.filter-panel > .skill-name-filter > label {
    position: absolute;
    left: 10px;
    top: 0.6em;
    pointer-events: none;
    color: grey;
    transition: all 0.3s;
    outline: none;
    transform-origin: top left;
}
.jlsgbujiang.filter-panel > .skill-name-filter > input:not(:placeholder-shown) ~ label,
.jlsgbujiang.filter-panel > .skill-name-filter > input:focus ~ label {
    transform: translateY(-0.6em) scale(0.75);
}
.jlsgbujiang.filter-panel > .skill-name-filter > input:placeholder-shown ~ button {
    display: none;
}
.jlsgbujiang.filter-panel > .skill-name-filter > button {
    z-index: 1;
    background: none;
    border: none;
    position: absolute;
    top: 0.6em;
    right: 10px;
    font-size: inherit;
    width: 1em;
    height: 1em;
    padding: 0.1em;
    outline: none;
    background-image: url('./clear_black_24dp.svg');;
    background-size: cover;
    cursor: pointer;
    border-radius: 4px;
}
.jlsgbujiang.filter-panel > .skill-name-filter > button:hover {
    background-color: rgba(30,32,34,0.1);
}
.jlsgbujiang.filter-panel > .color-filter > *,
.jlsgbujiang.filter-panel > .type-filter > * {
    position: relative;
    padding: 2px;
    margin: 0 4px;
    border-radius: 4px;
    display: inline-block;  
}
.jlsgbujiang.filter-panel > .color-filter > :hover::after,
.jlsgbujiang.filter-panel > .type-filter > :hover::after {
    content: '';
    position: absolute;
    width: 100%; 
    height:100%;
    top:0; 
    left:0;
    background:rgba(30,32,34,0.04);
}
.jlsgbujiang.filter-panel > .color-filter > :nth-child(1) {
    color: #9e25b3;
}
.jlsgbujiang.filter-panel > .color-filter > :nth-child(2) {
    color: #97202C;
}
.jlsgbujiang.filter-panel > .color-filter > :nth-child(3) {
    color: #B39E25;
}
.jlsgbujiang.filter-panel > .color-filter > :nth-child(4) {
    color: #1C8F20;
}
.jlsgbujiang.filter-panel > .color-filter > :nth-child(5) {
    color: #255A97;
}
.jlsgbujiang.filter-panel > .type-filter img {
    height: 1.1em;
    filter: brightness(1.5) grayscale(1);
    position: relative;
    float: right;
}
.orblist.jlsgbujiang {
    /* line-height: 0; */
    backface-visibility: hidden;
    transform: translateZ(0);
    display: flex;
    align-items: flex-start;
    align-content: start;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 3px;
    overflow: scroll;
    mask-image: linear-gradient(rgba(0,0,0,1) 95%, rgba(0,0,0,0));
    -webkit-mask-image: linear-gradient(rgba(0,0,0,1) 95%, rgba(0,0,0,0));
}
.reddot.jlsgbujiang {
    background: rgba(255, 0, 0, 0.8);
    border-radius: 100%;
    box-shadow: rgb(0 0 0 / 20%) 1px -1px 2px inset, rgb(255 255 255 / 15%) -1px 1px 5px inset, rgba(0, 0, 0, 0.5) -1px 1px 2px;
}
.orbdesc.jlsgbujiang > .reddot {
    backface-visibility: hidden;
    transform: translateZ(0);
    top: -3px; 
    right: -5px; 
    padding: 6px;
    transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
}
.orbdesc.jlsgbujiang::after {
    content: '';
    display: block;
    padding-bottom: 50%;
}
.orbdesc.jlsgbujiang {
    position: relative;
    margin: 5px;
    display: inline-flex;
    min-width: 100px;
    max-width: 150px;
    /* color:rgb(38, 30, 26); */
}
.orblist.jlsgbujiang > .orbdesc {
    flex: 1 0 14%;
}
/* .orblist.jlsgbujiang::after {
    content: '';
    widteh: 100px;
    flx-grow: 8;
} */
@media (max-width: 1850px) {
    .orblist.jlsgbujiang > .orbdesc {
        flex-basis: 16%;
    }
}
@media (max-width: 1550px) {
    .orblist.jlsgbujiang > .orbdesc {
        flex-basis: 20%;
    }
}
@media (max-width: 1150px) {
    .orblist.jlsgbujiang > .orbdesc {
        flex-basis: 25%;
    }
}
  
.orbdesc.jlsgbujiang > .orb {
    margin: 2% 1.5% 1.5% 2%;
    flex: 1;
    position: relative;
    cursor: pointer;
}
.orbdesc.jlsgbujiang.inuse > .orb {
    opacity: 0.3;
    filter: blur(3px) grayscale(0.6);
}
.orb.jlsgbujiang > * {
    position: absolute;
    backface-visibility: hidden;
    transform: translateZ(0);
    /* inset: calc(var(--trans) * 3px); */
    /* height: calc(var(--trans) * 68px); */
    height: 100%;
}
.orb.jlsgbujiang.focused > :first-child {
    filter: drop-shadow(2px 4px 6px red);
}
.desctextbox.jlsgbujiang {
    backface-visibility: hidden;
    transform: translateZ(0);
    flex: 1;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    left: calc(var(--trans) * var(--width) / 2);
    width: calc(var(--trans) * var(--width) / 2);
    height: calc(var(--trans) * var(--width) / 2);
    align-items: center;
    justify-content: space-around;
    /* height: 100%; */
}
.desctextbox.jlsgbujiang > .line {
    backface-visibility: hidden;
    transform: translateZ(0);
    width: 75%;
    height: 1.5px;
    background: linear-gradient(to right,rgba(0,0,0,0), black, rgba(0,0,0,0));
}
.desctextbox.jlsgbujiang > span {
    font-family: 'STXinwei','xinwei';
    font-size: calc(var(--trans) * 20px);
}
.orbdesc.jlsgbujiang > .lane-popup {
    right: 42%;
    height: calc(50% + 15px);
    top: calc(25% - 7px);
    z-index: 11;
    /* background-color: #7f7f7f7f; */
    border-radius: 4px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s;
    opacity: 0.8;
    pointer-events: none;
}
.orbdesc.jlsgbujiang > .lane-popup.removing {
    transform: translateX(10px);
}
.suit-detail.jlsgbujiang {
    display: grid;
    /* align-items: center; */
    grid-template-columns: 30% 1fr 45%;
    grid-template-rows: 50% 1fr;
    gap: 10px;
    margin: 5px;
}
.suit-detail.jlsgbujiang > * {
    position: relative;
}
.jlsgbujiang.hint-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}
.jlsgbujiang.hint-panel > :first-child {
    margin-top: auto;
}
.jlsgbujiang.hint-panel > * {
    position: relative;
}
.suit-detail.jlsgbujiang > .hint-panel {
    grid-row: 1;
    grid-column: 1 / 3;
    
}
.suitdesc.jlsgbujiang {
    position: relative;
    display: block;
    line-height: 1.5;
    grid-row: 2;
    grid-column: 1;
}
.suitdesc.jlsgbujiang > .hp {
    position: static;
}
.suitdesc.jlsgbujiang .types > img.invalid {
    display: none;
}
.suitdesc.jlsgbujiang .types > img {
    position: relative;
    margin: -0.2em;
    height: 2em;
    filter: brightness(1.5) grayscale(1);
}
.suitdesc.jlsgbujiang .skills {
    transition: all 1s;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.suitdesc.jlsgbujiang .skills > * {
    transition: all 0.5s;
    margin: 3px !important;
    padding: 0 3px !important;
    position: relative;
}
.suitdesc.jlsgbujiang .skills > *.invalid {
    /* width: 0; */
    margin: 0;
    opacity: 0;
    /* pointer-events: none; */
}
.suit-detail.jlsgbujiang > .suitsdisks {
    grid-row: 2;
    grid-column: 2 / 4;
    position: relative;
}
.suitsdisks.jlsgbujiang {
    display: flex;
    flex-direction: column;
}
.suitsdisks.jlsgbujiang .name-more-box {
    display: flex;
    position: relative;
    margin: 0 3%;
}
.suitsdisks.jlsgbujiang .suit-name {
    min-width: 0;
    flex-grow: 1;
    margin: 1px 5px;
    text-align: center;
    position: relative;
    display: block;
    font-size: 24px;
    font-family: xingkai, xinwei;
    background-color: rgba(20,20,40,0.05);
    border-radius: 4px 4px 0 0;
    color: inherit;
    border: none;
    border-bottom: 2px solid rgba(20,20,40,0.15);
}
.suitsdisks.jlsgbujiang .suit-name:hover {
    background-color: rgba(20,20,40,0.1);
}
.name-more-box.jlsgbujiang > .suits-more {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    padding: 3px;
    position: relative;
    background-image: url('./more_vert_black_24dp.svg');
    background-size: cover;
    cursor: pointer;
    border-radius: 4px;
}
.name-more-box.jlsgbujiang > .suits-more:hover:empty {
    background-color: rgba(20,20,40,0.1);
}
.jlsgbujiang.suits-more-dropdown {
    animation: dialog_start2 0.3s;
    width: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 0;
    top: 0;
    border-radius: inherit;
    min-height: 5vh;
    max-height: 30vh;
    z-index: 1;
}
.jlsgbujiang.suits-more-dropdown > * {
    transition: none;
    position: relative;
    cursor: pointer;
    padding: 12px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.jlsgbujiang.suits-more-dropdown > *:hover {
    background-color: rgba(32,33,36,.04);
}
.suitsdisks.jlsgbujiang hr {
    width: 94%;
}
.suitsdisks-inner-box.jlsgbujiang {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.suitsdisks-inner-box.jlsgbujiang > button {
    font-size: 1.5vw;
    /* opacity: 0.9; */
    /* height: 90%; not working for some reason on some devices*/
    align-self: stretch;
    margin: 5% 0;
}
.suitsdisks-inner-box.jlsgbujiang > .suit-save,
.mix-disk.jlsgbujiang > .mix-button {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    margin-bottom: 5px;
    left: calc(50% - 15px);
    height: 34px;
    padding: 0 6px;
    font-size: 22px;
    background-color: rgba(20,20,40,0.1);
    border-radius: 4px;
    color: rgba(255,0,0,0.7);
    cursor: pointer;
}
.suitsdisks-inner-box.jlsgbujiang > .suit-save:hover, 
.mix-disk.jlsgbujiang > .mix-button:hover {
    background-color: rgba(20,20,40,0.2);
}
.suit-disk-wrapper {
    min-width: 25.667vh;
    min-height: 22.067vh;
    position: relative;
    height: 75%;
    max-height: 248px;
}
.suit-disk-wrapper > svg {
    display: block;
    height: 100%;
}
.suitdisk.jlsgbujiang {
    /* height: calc(var(--trans) * 331px);
    width: calc(var(--trans) * 385px); */
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-image: url('./bujiang/img_di_zhupan.png');
    background-size: cover;
}
.suitdisk.jlsgbujiang > .orb {
    cursor: pointer;
    height: 20.54%;
    width: 17.66%;
    --dx: 30.2%;
    --x0: 10.9%;
    --x1: calc(var(--x0) + var(--dx));
    --x2: calc(var(--x1) + var(--dx));
    
    --dy: 35.2%;
    --y0: 4.2%;
    --y1: calc(var(--y0) + var(--dy));
    --y2: calc(var(--y1) + var(--dy));

}
.suitdisk.jlsgbujiang > .orb:nth-child(1) {
    position: absolute;
    top:  var(--y0);
    left: var(--x0);
}
.suitdisk.jlsgbujiang > .orb:nth-child(2) {
    position: absolute;
    top:  var(--y0);
    left: var(--x1);
}
.suitdisk.jlsgbujiang > .orb:nth-child(3) {
    position: absolute;
    top:  var(--y0);
    left: var(--x2);
}
.suitdisk.jlsgbujiang > .orb:nth-child(4) {
    position: absolute;
    top:  var(--y1);
    left: var(--x0);
}
.suitdisk.jlsgbujiang > .orb:nth-child(5) {
    position: absolute;
    top:  var(--y1);
    left: var(--x1);
}
.suitdisk.jlsgbujiang > .orb:nth-child(6) {
    position: absolute;
    top:  var(--y1);
    left: var(--x2);
}
.suitdisk.jlsgbujiang > .orb:nth-child(7) {
    position: absolute;
    top:  var(--y2);
    left: var(--x0);
}
.suitdisk.jlsgbujiang > .orb:nth-child(8) {
    position: absolute;
    top:  var(--y2);
    left: var(--x1);
}
.suitdisk.jlsgbujiang > .orb:nth-child(9) {
    position: absolute;
    top:  var(--y2);
    left: var(--x2);
}

.jlsgbujiang.dialog[orblist] {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    overflow: scroll;
    align-content: start;
}
.jlsgbujiang.dialog[orblist] > .orbdesc {
    flex: 0 0 45%;
}
.jlsgbujiang.color-lanes {
    display: block;
    position: relative;
}
.jlsgbujiang.color-lanes > span {
    padding: 0 0.25em;
    border-radius: 0.25em;
    margin: 0 0.05em;
    box-shadow: rgb(0 0 0 / 20%) 1px -1px 2px inset, rgb(255 255 255 / 15%) -1px 1px 5px inset;
}
.jlsgbujiang.color-lanes > span:nth-child(1) {
    color: #E46D79;
    background-color: #97202C;
    border: 1px solid #561219;
}
.jlsgbujiang.color-lanes > span:nth-child(2) {
    color: #FFEA72;
    background-color: #B39E25;
    border: 1px solid #665A15;
}
.jlsgbujiang.color-lanes > span:nth-child(3) {
    color: #69DB6C;
    background-color: #1C8F20;
    border: 1px solid #105212;
}
.jlsgbujiang.color-lanes > span:nth-child(4) {
    color: #72A7E4;
    background-color: #255A97;
    border: 1px solid #153456;
}
.jlsgbujiang.orb .inuseorb-hover-popup {
    right: 100%;
    bottom: 100%;
    height: auto;
    z-index: 11;
    background-color: #cfcfcfdf;
    color: black;
    border-radius: 4px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s;
    opacity: 0.8;
    pointer-events: none;
}
.jlsgbujiang.orb .inuseorb-hover-popup.removing {
    transform: scale(0.5);
}
.jlsgbujiang.mix-detail {
    margin: 5px;
}
.jlsgbujiang.mix-detail > * {
    position: relative;
}
.jlsgbujiang.mix-detail > .hint-panel {
    /* width: 100%; */
    height: 50%;
    margin: 5px 0;
}
.jlsgbujiang > .mix-disk {
    display: inline-flex;
    flex-wrap: wrap;
}

.jlsgbujiang > .mix-orb-entry {
    position: relative;
    padding: 5px;
}

.jlsgbujiang > .mix-orb-entry > span {
    position: absolute;
    display: flex;
    pointer-events: none;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: 'STXinwei','xinwei';
    color: #bbabd3;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 2px;
    bottom: 2px;
    left: 0;
}
.jlsgbujiang > .mix-orb-entry > .orb:not(.empty) ~ span {
    display: none;
}
.jlsgbujiang > .mix-orb-entry > .orb {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 4em;
    height: 4em;
}
.jlsgbujiang.mix-disk > .mix-button {
    position: relative;
    margin: 5% 25%;
    width: 2.5em;
    height: 1.5em;
    padding-bottom: 2px;
    left: 0;
}