<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<real>0</real>
	<key>angleVariance</key>
	<real>0</real>
	<key>blendFuncDestination</key>
	<integer>1</integer>
	<key>blendFuncSource</key>
	<integer>770</integer>
	<key>duration</key>
	<real>0.3</real>
	<key>emitterType</key>
	<real>0</real>
	<key>finishColorAlpha</key>
	<real>0</real>
	<key>finishColorBlue</key>
	<real>0.64</real>
	<key>finishColorGreen</key>
	<real>0.3</real>
	<key>finishColorRed</key>
	<real>0.2</real>
	<key>finishColorVarianceAlpha</key>
	<real>0</real>
	<key>finishColorVarianceBlue</key>
	<real>0</real>
	<key>finishColorVarianceGreen</key>
	<real>0</real>
	<key>finishColorVarianceRed</key>
	<real>0.25</real>
	<key>finishParticleSize</key>
	<real>127</real>
	<key>finishParticleSizeVariance</key>
	<real>90</real>
	<key>gravityx</key>
	<real>-160</real>
	<key>gravityy</key>
	<real>0</real>
	<key>maxParticles</key>
	<real>26</real>
	<key>maxRadius</key>
	<real>0</real>
	<key>maxRadiusVariance</key>
	<real>0</real>
	<key>minRadius</key>
	<real>0</real>
	<key>particleLifespan</key>
	<real>0.28</real>
	<key>particleLifespanVariance</key>
	<real>0</real>
	<key>radialAccelVariance</key>
	<real>0</real>
	<key>radialAcceleration</key>
	<real>0</real>
	<key>rotatePerSecond</key>
	<real>0</real>
	<key>rotatePerSecondVariance</key>
	<real>0</real>
	<key>rotationEnd</key>
	<real>0</real>
	<key>rotationEndVariance</key>
	<real>0.0</real>
	<key>rotationStart</key>
	<real>0</real>
	<key>rotationStartVariance</key>
	<real>0</real>
	<key>sourcePositionVariancex</key>
	<real>15</real>
	<key>sourcePositionVariancey</key>
	<real>425</real>
	<key>sourcePositionx</key>
	<real>19.319727891156464</real>
	<key>sourcePositiony</key>
	<real>430.82993197278915</real>
	<key>speed</key>
	<real>2500</real>
	<key>speedVariance</key>
	<real>1000</real>
	<key>startColorAlpha</key>
	<real>0.4</real>
	<key>startColorBlue</key>
	<real>1</real>
	<key>startColorGreen</key>
	<real>0.75</real>
	<key>startColorRed</key>
	<real>0.75</real>
	<key>startColorVarianceAlpha</key>
	<real>0.5</real>
	<key>startColorVarianceBlue</key>
	<real>0.4</real>
	<key>startColorVarianceGreen</key>
	<real>0</real>
	<key>startColorVarianceRed</key>
	<real>0.4</real>
	<key>startParticleSize</key>
	<real>145</real>
	<key>startParticleSizeVariance</key>
	<real>143</real>
	<key>tangentialAccelVariance</key>
	<real>0</real>
	<key>tangentialAcceleration</key>
	<real>0</real>
	<key>textureFileName</key>
	<string>particle_texture.png</string>
	<key>textureImageData</key>
	<string>H4sIAAAAAAAAA51TMWzTQBR1S4RCoFIRE0yn6wISsWM7cbBVt01ilwbhEqWRGglV4NiXxLT2GftK3C5UDKhIMHZFHRAbICG2DoixYxcGYEAsLEgsCImNcxqnCJEOnOy7/7/e+/fv37tHtcWrE5kLGYZhJqoLWp2udvynT9LZ/7LToMt5ojfJEm6TnhkgpmTjFgJV1+ygOjLtjbv7aJphTkCn0SRN47piYZc1YwwbuT4Tj+nZyDetVURAC3UcT4Xf995C4NgqXC4YOcOvoK6zsBmgpc3FhrW5ask2nJ0B05FCE7iImCBy17xQiVTYz6tQOw5zEPQhZFWFh0U1jRqo4ACBAitmrRzPA0li+XxBkvjLQMjxApejn5Tl80pBUoQiGAxIdwvstlLX5gd7UU+FXUJ8heN6vR7bE1kcdDheluU4hyBkKSIbbnjEjLJeOJVk0FBoBY5PHOyB2DdbeJ2oECZHcP1hWi8ctIk2jItMn+PZHPcH0DCOh7ruEB2SOmofjw4bGz7i6ijE64FFL649FZN9pRIgk+CggfFa0sVaFxMcdrEPKksSuLjseDbuhZf6eMNQql5ITM9CVU2FNMI6jq0U82Ixr4n58hVJ43m9XCqJsiwKxVJO4mW9LCVcDVvrLvJIwrWPuIWR3FgKh2wUOPeQPR9gF/SPrDijaxFG13LItUfXIo7kcrQY7q+LTkJUPbE5lC11hsJHHlV7QGU93xJ1+iTeVLVSI/rw7dPBKQak9YPHP2/92rmZenqa/fzu1e611z9ufMxspdOTY2MQzKVS2/9v282vT+63Vra3mLOTYHxcm9tKH9nP33MP0QQbBxP8v+1ze+NnmBkrtb/77MWd+E1X9UXtZfn2g9/Ay6NFQAQAAA==</string>
</dict>
</plist>
